*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Oswald', sans-serif;
    background-image: url(img/fondo2.jpg);
    background-position: center;
    
    background-size: cover;
}

.container{
    width: 90%;
    margin: auto;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.nav-logo{
    height: 50px;
    
}
.nav-main {
    height: 40px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    letter-spacing: 1.5px;
    z-index: 10px;
    position: relative;
    

}
.nav-menu{
    display: flex;
    padding: 40px;
    position: relative;
}

.navigation{
    width: 90%;
}



/*NAV LEFT*/

.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;
}


.nav-main li {
    list-style: none;
    margin: 10px;
}


/*HOVER MENU*/

.nav-main li a {
    color: rgb(252, 247, 247);
    text-decoration: none;
    font-weight: solid;
    transition: all 0.5s ease;
}

.nav-main li a:hover {
    padding: 5px 10px;
    background: rgb(131, 128, 128);
    color: #fff;
    border-radius: 15px;
    
} 

/*PRIMER BANNER*/

.primer-banner{
    width: 100%;
    height: 370px;
    background: url(img/pet-shop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 30px 30px #000;
}

#titulo-banner{
    font-family: ;
    font-size: 6em;
    margin-bottom: 50px;
    font-family:'Festive', cursive ;  
    color: chocolate;  
}

.btn{
    cursor: pointer;
    display: inline-block;
    border: 1px solid #fff;
    padding: 10px 20px;
    background: #686767;
    font-size: 15px;
    border-radius: 15px;
    text-decoration: none;
    color: cornsilk;
    margin-top: 60px;
    box-shadow: 0.4em 5px 5px #000;
}


.btn:hover{
    padding: 15px 30px;
    background: rgb(131, 128, 128);
    color: #fff;
    border-radius: 15px;
    transition: 0.5s ;
}

.spacing{
    margin-top: 50px;
}


/*DESCRIPTION*/
.description-block {
    margin: 0 auto;
    margin-top: 30px;
    font-size: 17px;
    color: rgb(250, 245, 245);
    margin-bottom: 50px;
    padding: 20px;
    text-align: center;
    border:7px solid rgb(77, 243, 243) ;
    border-radius: 20px;
    width: 30%;
    
    
}

.description-title{
    margin: auto;
    font-size: 100px;
    font-family:'Festive', cursive ;
    color: chocolate;
    
}

.description-api{
    width: 80%;
}





/*DEVELOPERS INFARMATION*/

.developers-title{
    text-align: center;
    margin: 40px;
    font-size: 70px;
    font-family:'Festive', cursive ;
    color: rgb(245, 214, 192);
}

.main{
    color: white;
    margin: 0 auto;
    margin-left: 300px;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 50px;

}

.primeros2{
    display: flex;
    justify-content: space-between;
}

h2{
    font-size: 1.8em;
}

span{
    color: aqua;
}
.foto-developer{
    height: 200px;
    border-radius: 300%;
    border: 7px solid rgb(77, 243, 243);
    box-shadow: 0 15px 15px  #000;
    width: 170px;
}



.rubenPadre{
    margin-left: 300px;
    margin-top: 100px;
}

.segundos2{
    display: flex;
    justify-content: space-between;
}




.benjamin{
    margin-left: 300px;
    margin-top: 100px;
}

.icon-links{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 20px;
    
}

.main a{
    color: blanchedalmond;
}

.main i{
    font-size: 1.5em;
}

.main i:hover{
    font-size: 1.8em;
    transition: 0.6s;
}